body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;;

}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr; /* Automatically adjust row height */
    grid-template-areas:
        "sidebar header"
        "sidebar main";
    min-height: 100vh;


}

.header {
    grid-area: header;
    background-color: white;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.main {
    grid-area: main;
    background-color: #e5e7eb;


}

.sidebar {
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
    background-color: #0ea5e9;
    color: white;
    gap: 30px;
}


/* main grid layout */

/*sidebar*/

.dashboard-title {
    color: white;
    font-size: 30px;
}

ul {
    list-style-type: none;
}

.dashboard-part{
    padding-left: 20px;
    padding-top: 20px;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.dashboard-icon {
    fill:white;
    width: 3rem;
    height: 3rem;
}

.icons {
    fill: white;
    width: 23px;
    weight: 23px;

}



.sidebar-options1,
.sidebar-options2 {
    display:flex;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
}

.sidebar-options1 li,
.sidebar-options2 li {
    display:flex;
    align-items: center;
    gap: 15px;
}

/* header part */

.header-upper-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 30px;
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}
.avatar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    margin-right: 40px;
}

.search-icon {
    height: 20px;
    width: 20px;
}

#search {
    border: none;
    outline: none;
    width: 450px;
    height: 30px;
    background-color: #e5e7eb;
    border-radius: 15px;
    padding-left: 20px;
}
.ring-icon {
    height: 20px;
    width: 20px;
}

.shiba-icon {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 100%;
}

.nickname {
    color: black;
}

/* header bottom part */


.header-bottom-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;

}

.header-left{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

}

.header-bottom-part .shiba-icon {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 100%;
}
.introduction-text, .introduction-username {
    color: black;
    font-size: 1.2rem;
}

.btn {
    background-color: #0ea5e9;
    color: white;
    font-family: 'Roboto', sans-serif;
    border-radius: 30px;
    border: none;
    width: 100px;
    height: 35px;


}

.introduction-container {
    display: flex;
    flex-direction: column;
}
.introduction-text {
    font-size: 0.8rem;
}

.header-buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

/* main part */

.main-grid-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
            "block-1 block-2 block-right-upper"
            "block-1 block-2 block-right-upper"
            "block-3 block-4 block-right-upper"
            "block-3 block-4 block-right-bottom"
            "block-5 block-6 block-right-bottom"
            "block-5 block-6 block-right-bottom";
    margin-left: 20px;
    margin-top:20px;
    gap: 20px 20px;
    align-content: stretch;


}

.block {
    background: linear-gradient(90deg, #ffcc00 2%, white 0%);
    height: 160px;
    width: 400px;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 10px;

}

.block-right-upper {
    grid-area: block-right-upper;
}

.block-annoucments, .block-trending{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    background-color: white;
    height: 223px;
    width: 260px;
    border-radius: 10px;
    margin-bottom: 0px;

}

.block-right-bottom {
    grid-area: block-right-bottom;
    align-self: start;

}


.block-1 {
    grid-area: block-1;
}

.block-2 {
    grid-area: block-2;
}
.block-3 {
    grid-area: block-3;
}
.block-4 {
    grid-area: block-4;
}
.block-5 {
    grid-area: block-5;
}
.block-6 {
    grid-area: block-6;
}

.main-titles {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}


h2{
    font-size: 16px;
}
p{
    font-size: 12px;
    color: #a0a0a5;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;


}
h3 {
    font-size: 12px;
}

.block-announcement p {
    font-size: 10px;
}








